includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    bootstrapFiles:
        - vendor/autoload.php

    fileExtensions:
        - php

    level: max

    paths:
        - src

    parallel:
        maximumNumberOfProcesses: 1

    tmpDir: /tmp/phpstan
