includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    bootstrapFiles:
        - vendor/autoload.php

    fileExtensions:
        - php

    level: max

    paths:
        - generatedDBClasses
        - src
        - test
        - tests

    parallel:
        maximumNumberOfProcesses: 1

    tmpDir: /tmp/phpstan
