includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    bootstrapFiles:
        - vendor/autoload.php

    excludes_analyse:
        - %currentWorkingDirectory%/src/DoctrineMigrations/*

    fileExtensions:
        - php

    level: 5

    paths:
        - src
        - test
        - tests

    parallel:
        maximumNumberOfProcesses: 1

    tmpDir: /tmp/phpstan
